/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Poppins:wght@400;700&display=swap");

/* VARIABLES -- THEME: LIGHT MODE*/
:root {
  --main-font: "Mulish", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}
/* VARIABLES -- THEME: DARK MODE*/
[data-theme="dark"] {
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
}
